input {
    width: 250px;
    padding: 15px;
    font-size: 18px;
    border: 2px solid #333;
    border-radius: 10px;
    outline: none;
}
button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
#soruAlani {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #333;
}
