input {
    width: 250px;           /* Genişlik */
    padding: 15px;          /* İç boşluk (daha büyük görünmesi için) */
    font-size: 18px;        /* Yazı büyüklüğü */
    border: 2px solid #333; /* Kenarlık kalınlığı ve rengi */
    border-radius: 10px;    /* Köşeleri yuvarlatma */
    outline: none;          /* Tıklayınca çıkan mavi çizgiyi siler */
}

/* Düğmeyi şekillendirelim */
button {
    padding: 15px 30px;     /* Yükseklik ve genişlik boşluğu */
    font-size: 18px;
    background-color: #4CAF50; /* Yeşil renk */
    color: white;           /* Yazı rengi */
    border: none;           /* Dış çizgiyi siler */
    border-radius: 10px;    /* Köşeleri yuvarlatma */
    cursor: pointer;        /* Üzerine gelince el işareti çıkar */
    transition: 0.3s;       /* Renk değişim hızı */
}

/* Düğmeye basınca veya üzerine gelince*/
button:hover {
    background-color: #45a049; /* Rengi biraz koyulaşır */
    transform: scale(1.05);    /* Hafifçe büyür */
}
#soruAlani {
    font-size: 28px;        /* Soru yazısı büyüklüğü */
    font-weight: bold;      /* Kalın yazı */
    margin-bottom: 30px;    /* Alt tarafında boşluk */
    margin-top: 30px;     /* Üst tarafında boşluk */
    color: #333;            /* Yazı rengi */
}